#pica-overlay-container {
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 9999;

  display: flex;
  align-items: center;
  gap: 6px;
}

/* Download button */
.pica-download-btn {
  display: flex;
  align-items: center;
  gap: 6px;

  background-color: #FF0000;
  color: white;

  border: none;
  border-radius: 4px;

  padding: 3px 5px;
  font-size: 12px;
  font-weight: bold;

  cursor: pointer;
}

.pica-download-btn img {
  width: 16px;
  height: 16px;
}

.pica-download-btn:hover {
  background-color: #cc0000;
}

/* Close button */
.pica-close-btn {
  background: rgba(0, 0, 0, 0.6);
  color: white;

  border: none;
  border-radius: 50%;

  width: 18px;
  height: 18px;

  font-size: 14px;
  line-height: 16px;

  cursor: pointer;
  padding: 0;
}

.pica-close-btn:hover {
  background: rgba(0, 0, 0, 0.8);
}
